<nav role="navigation">
  <div class="nav-container">
    <div class="logo" >
      <a routerLink="/"><img alt="Logo" src="/assets/images/logo_full.svg"></a>
    </div>
    <div>
      <app-activity-panel></app-activity-panel>
    </div>
    <div class="middle-links">
      <ul>
        <li><a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
      </ul>
    </div>
    <div class="right-controls">
      <div class="dropdown">
        <div class="account">
          <div class="avatar-wrapper"><img src="{{user.gravatar}}?s=30&d=blank"></div>
          {{user.email}}
        </div>
        <ul>
          <li><span>{{user.name}}</span></li>
          <li><hr></li>
          <li><a routerLink="/profile">Profile</a></li>
          <li><a routerLink="/preferences">Preferences</a></li>
          <li><hr></li>
          <li><a (click)="logOut()">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
