<nav role="navigation">
  <div class="nav-container">
    <div class="logo" >
      <a routerLink="/"><img alt="Logo" src="/assets/images/logo_full.svg"></a>
    </div>
    <div>
      <app-activity-panel></app-activity-panel>
    </div>
    <div class="middle-links">
      <ul>
        <li><a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
      </ul>
    </div>
    <app-account-panel></app-account-panel>
  </div>
</nav>
