@import 'variables';

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

nav {
  border-bottom: 1px solid grey;
  background-color: rgb(250, 250, 250);
}

.nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo img {
  display: block;
  height: 2.5em;
  margin: 8px 0;
}

@mixin active-middle-link {
  color: $primary-color;
  border-bottom-color: $primary-color;
  background-image: linear-gradient(transparent, rgb(240, 240, 240));
}

.middle-links {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin: 0 0.7em;
      a {
        font-size: 110%;
        display: inline-block;
        padding: 14px 0;
        border-bottom: 3px solid $secondary-color;
        color: $secondary-color;
        transition: all 0.2s;
        &:hover {
          @include active-middle-link();
        }
      }
      .active {
        @include active-middle-link();
        font-weight: bold;
      }
    }
  }
}

.right-controls {
  position: relative;
  .account {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
    margin: 10px 0 6px;
    display: flex;
    align-items: center;
    .avatar-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0;
      padding: 0;
      margin-right: 6px;
      background: url("/assets/images/default_avatar.svg") no-repeat;
      background-origin: content-box;
      background-size: contain;
      img {
        border: 1px solid grey;
        border-radius: 5px;
      }
    }
  }
}

.dropdown {
  > :first-child {
    &::after {
      content: '';
      display: inline-block;
      border: 5px solid transparent;
      border-top-color: black;
      margin: 6px;
      margin-top: 12px;
    }
  }
  ul {
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 51px;
    background-color: white;
    list-style-type: none;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgb(224, 224, 224);
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s;
  }
  li {
    hr {
      margin: 0;
      border: 0;
      height: 1px;
      background-color: grey;
    }
    a, span {
      display: block;
      padding: 7px 10px;
    }
    a {
      display: block;
      &:hover {
        background-color: rgb(209, 209, 209);
      }
    }
  }
  // TODO: :active selector used for touch devices, to be tested!
  &:hover ul, &:active ul {
    opacity: 1;
    visibility: visible;
  }
}
