@import 'variables';

.wrapper {
  display: flex;
  border: 2px solid $primary-color;
  border-radius: 5px;
  margin: 10px 0;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

.record-infos {
  padding: 6px;
}

.stop-button {
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

ul {
  z-index: 2;
  position: absolute;
  top: 51px;
  background-color: white;
  list-style-type: none;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgb(224, 224, 224);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.3s;
}
li {
  hr {
    margin: 0;
    border: 0;
    height: 1px;
    background-color: grey;
  }
  a, span {
    display: block;
    padding: 7px 10px;
  }
  a {
    display: block;
    &:hover {
      background-color: rgb(209, 209, 209);
    }
  }
}

.spinner:after {
  height: 20px;
  width: 20px;
  margin: 6px;
}

.greyed {
  color: grey;
}
