<div>
  <div *ngIf="(runningActivity$ | async) as activity; else record" class="wrapper">
    <div class="record-infos">Recording {{(timer$ | async) | timerDisplay}}</div>
    <button class="stop-button" (click)="stop(activity)" [disabled]="waiting">Stop</button>
  </div>
  <ng-template #record>
    <div class="wrapper">
      <button class="button-primary" (click)="showDropdown()" [disabled]="waiting">
        Record &#9632;
      </button>
    </div>
    <ul *ngIf="dropdownVisible">
      <li><span>Choose a project</span></li>
      <li><hr></li>
      <div *ngIf="(projects$ | async) as projects; else loading">
        <li *ngIf="!projects || projects.length === 0">
          <span class="greyed">No project</span>
        </li>
        <li *ngFor="let project of projects">
          <a (click)="recordIn(project)">{{project.name}}</a>
        </li>
      </div>
      <ng-template #loading>
        <li class="flex-horizontal-center"><div class="spinner"></div></li>
      </ng-template>
      <li><hr></li>
      <li><a [routerLink]="['/projects/new']">Add project...</a></li>
    </ul>
  </ng-template>
</div>
