.footer {
  margin-top: 1em;
  color: grey;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgrey;
}

.content-line {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
