<section>
  <h1>Edit project</h1>
  <form #projectForm="ngForm" *ngIf="(project$ | async) as project; else loading">
    <div *ngIf="serverValidationError" class="form-element">
      <div class="form-error">
        {{serverValidationError}}
      </div>
    </div>
    <div class="form-element">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="project.name"
      autocomplete="off" maxlength="100" size="100" required #name="ngModel">
      <div *ngIf="!name.valid && (!name.pristine || submitted)" class="form-error">
        Name is required.
      </div>
    </div>
    <div class="form-element">
      <label for="email">Description (optional)</label>
      <input type="text" id="description" name="description" [(ngModel)]="project.description"
      autocomplete="off" maxlength="255" #description="ngModel">
    </div>
    <div class="form-element form-actions">
      <button (click)="onSubmit(projectForm, project)" [disabled]="waiting" class="button-primary">Save</button>
    </div>
  </form>
  <ng-template #loading>
    <div class="flex-horizontal-center">
      <div class="spinner"></div>
    </div>
  </ng-template>
</section>

