<div *ngIf="project$ | async as project; else loading">
  <section>
    <h1>Project overview</h1>
    <div class="project-head">
      <div class="flex">
        <div class="flex-vertical-center image-container">
          <img src="/assets/images/icon_project.svg" class="project-image">
        </div>
        <div>
          <h2>{{project.name}}</h2>
          {{project.description | defaultValue:'No description.'}}
        </div>
      </div>
      <app-project-actions-icons [project]="project" (deletion)="onDelete()">
        </app-project-actions-icons>
    </div>
  </section>
  <section>
    <h1>Project activities</h1>
    <div>
      There are no recorded activities yet.
    </div>
  </section>
</div>
<ng-template #loading>
  <section class="flex-horizontal-center">
    <div class="spinner"></div>
  </section>
</ng-template>
