<app-toast-messages></app-toast-messages>
<div class="page-container">
  <div class="logo-container">
    <a routerLink="/"><img alt="Logo" src="assets/images/logo_full.svg"></a>
  </div>
  <div class="form-container">
    <h1>Log in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="badCredentials" class="form-element">
        <div class="form-error">
          Wrong email or password.
        </div>
      </div>
      <div class="form-element">
        <label for="email">Email address</label>
        <input type="text" id="email" formControlName="email"
               autocomplete="off" spellcheck="false" autofocus>
        <div *ngIf="f.email.invalid && (f.email.touched || submitted)" class="form-error">
            <div *ngIf="f.email.errors.required">An email is required.</div>
        </div>
      </div>
      <div class="form-element">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="f.password.invalid && (f.password.touched || submitted)" class="form-error">
          <div *ngIf="f.password.errors.required">A password is required.</div>
        </div>
      </div>
      <div class="form-element form-actions bottom-line">
        <a href="#">Forgot password?</a>
        <button [disabled]="waiting" class="button-primary">Log in</button>
      </div>
    </form>
  </div>
</div>
