.actions-bar {
  margin: 30px 0;
  display: flex;
  input {
    margin-right: 2em;
  }
}

.image-container {
  margin-left: 2em;
  margin-right: 3em;
}

.project-notice-image {
  height: 120px;
  opacity: 0.7;
}

.project-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    border-top: 1px solid lightgrey;
    padding: 30px;
  }
}

.empty-row {
  display: flex;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.project-infos {
  h3 {
    margin-top: 0;
  }
}

.project-actions {
  display: flex;
  align-items: center;
  div {
    margin: 5px;
  }
}

.description {
  color: grey;
  font-style: italic;
}
