<div *ngIf="projects?.length === 0" class="notice">
  <div class="close-icon"></div>
  <div class="flex">
    <div class="flex-vertical-center image-container">
      <img src="/assets/images/icon_project.svg" class="project-notice-image">
    </div>
    <div class="flex-vertical-center">
      <h3>Stay organized</h3>
      <p>Time activities belonging to projects, everything stays perfectly sorted and organized.<br />
      <a routerLink="/projects/new">Create a first project</a> and get started!</p>
    </div>
  </div>
</div>
<section>
  <h1>Manage your projects</h1>
  <div class="actions-bar">
    <input type="text" placeholder="Find a project...">
    <a [ngClass]="projects?.length === 0 ? 'button-primary' : 'button-secondary'"
       routerLink="/projects/new">New project</a>
  </div>
  <div class="project-list">
    <ul>
      <li *ngIf="projects === undefined" class="empty-row">
        <div class="spinner"></div>
      </li>
      <li *ngIf="projects?.length === 0" class="empty-row">
        No projects yet!
      </li>
      <li *ngFor="let project of projects" class="project">
        <div class="project-infos">
          <h3><a routerLink="/projects/{{project.id}}">{{project.name}}</a></h3>
          <div class="description">{{project.description | defaultValue:'No description'}}</div>
          Last activity 2 days ago.
        </div>
        <div class="project-actions">
          <a class="icon-edit" routerLink="/projects/{{project.id}}/edit"></a><div class="icon-delete"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
