<div *ngIf="projects?.length === 0" class="notice">
  <div class="close-icon"></div>
  <div class="flex">
    <div class="flex-vertical-center image-container">
      <img src="/assets/images/icon_project.svg" class="project-notice-image">
    </div>
    <div class="flex-vertical-center">
      <h3>Stay organized</h3>
      <p>Time activities belonging to projects, everything stays perfectly sorted and organized.<br />
      <a routerLink="/projects/new">Create a first project</a> and get started!</p>
    </div>
  </div>
</div>
<section>
  <h1>Manage your projects</h1>
  <div class="actions-bar">
    <input type="text" placeholder="Find a project...">
    <a class="flex-vertical-center" [ngClass]="projects?.length === 0 ? 'button-primary' : 'button-secondary'"
       routerLink="/projects/new">New project</a>
  </div>
  <div class="project-list">
    <ul>
      <li *ngIf="projects === undefined" class="flex-horizontal-center">
        <div class="spinner"></div>
      </li>
      <li *ngIf="projects?.length === 0" class="flex-horizontal-center">
        No projects yet!
      </li>
      <li *ngFor="let project of projects" class="project">
        <app-project-row [project]="project" (deletion)="onDelete(project)"></app-project-row>
      </li>
    </ul>
  </div>
</section>
