<div class="notice">
  <div class="icon-close" (click)="click()"></div>
  <h2>Welcome to your dashboard!</h2>
  <p>This entry point displays your main statistics and projects at a glance.</p>
</div>
<section>
  <h3>Activity during the last 7 days</h3>
  <div *ngIf="last7DaysData$ | async as last7DaysData; else loadingChart"><ngx-charts-bar-vertical
      [results]="last7DaysData"
      [scheme]="{ domain: ['#61AAA3', '#61AAA3', '#61AAA3', '#61AAA3', '#61AAA3', '#61AAA3', '#B84D4D'] }"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="true"
      [yAxisTicks]="[0, 4, 8, 12]"
      [yScaleMax]="12"
      yAxisLabel="Activity (hours)">
      <ng-template #tooltipTemplate let-model="model">
        {{model.value * 3600 | duration}}
    </ng-template>
  </ngx-charts-bar-vertical></div>
  <ng-template #loadingChart>
    <div class="loading-graph"><div class="spinner"></div></div>
  </ng-template>
</section>
<section>
  <h3>Your top projects</h3>
  You don't have any project yet. Why don't you <a routerLink="/projects/new">create the first one</a> now?
</section>
