<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div *ngIf="serverReturn$ | async as serverError" class="form-element">
    <div class="form-error">
      {{serverError}}
    </div>
  </div>
  <div class="form-element">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name"
            autocomplete="off" size="100">
    <div *ngIf="f.name.invalid && (f.name.touched || submitted)" class="form-error">
        <div *ngIf="f.name.errors.required">A project name is required.</div>
        <div *ngIf="f.name.errors.minlength || f.name.errors.minlength">
          The name must be between 2 and 100 characters long.
        </div>
    </div>
  </div>
  <div class="form-element">
    <label for="email">Description (optional)</label>
    <input type="text" id="description" formControlName="description"
           autocomplete="off">
    <div *ngIf="f.description.invalid && (f.description.touched || submitted)" class="form-error">
      <div *ngIf="f.description.errors.maxlength">The description is too long.</div>
    </div>
  </div>
  <div class="form-element form-actions">
    <button [disabled]="waiting" class="button-primary">{{submitButtonLabel}}</button>
  </div>
</form>
