<div class="page-container">
  <div class="form-container">
    <h1>Sign up for free</h1>
    <h3>It will only take a few seconds.</h3>
    <form>
      <div class="form-element">
        <label for="">Name</label>
        <input type="text" id="name" autocomplete="off" spellcheck="false">
      </div>
      <div class="form-element">
        <label for="">Email address</label>
        <input type="text" id="email" autocomplete="off" spellcheck="false">
      </div>
      <div class="form-element">
        <label for="">Password</label>
        <input type="password" id="password">
      </div>
      <div class="form-element form-actions">
        <button (click)="onSubmit()" class="button-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
