<div class="page-container">
  <div class="form-container">
    <h1>Sign up for free</h1>
    <h3>It will only take a few seconds.</h3>
    <form #signupForm="ngForm">
      <div *ngIf="serverValidationError" class="form-element">
        <div class="form-error">
          {{serverValidationError}}
        </div>
      </div>
      <div class="form-element">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="user.name"
               autocomplete="off" spellcheck="false" required #name="ngModel">
        <div *ngIf="!name.valid && (!name.pristine || submitted)" class="form-error">
          Name is required.
        </div>
      </div>
      <div class="form-element">
        <label for="email">Email address</label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email"
               autocomplete="off" spellcheck="false" required #email="ngModel">
        <div *ngIf="!email.valid && (!email.pristine || submitted)" class="form-error">
          Email is required.
        </div>
      </div>
      <div class="form-element">
        <label for="password">Password</label>
        <div class="password-container">
          <input type="{{showPassword ? 'text' : 'password'}}" id="password" name="password" [(ngModel)]="user.password"
                required #password="ngModel">
          <button class="password-visibility"
            (click)="showPassword ? showPassword = false : showPassword = true">
            {{showPassword ? 'hide' : 'show'}}
          </button>
        </div>
        <div *ngIf="!password.valid && (!password.pristine || submitted)" class="form-error">
          Password is required.
        </div>
      </div>
      <div class="form-element form-actions">
        <button (click)="onSubmit(signupForm)" [disabled]="waiting" class="button-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
