.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.name {
  font-size: 120%;
  font-weight: bold;
}

.description {
  color: grey;
  font-style: italic;
  margin-bottom: 1em;
}
