@import 'variables';

/* Global styles */

body {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    // Cursor to pointer even when href not defined
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Buttons */

@mixin button($color) {
  border: 0.16em solid $color;
  border-radius: 2em;
  padding: 0.3em 1.2em;
  text-shadow: 0 0.04em 0.04em #000000;
  background-color: $color;
  color: white;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background-color: lighten($color, 15%);
    text-decoration: none;
  }
  &:disabled {
    background-color: #858585;
    border-color: #424242;
    cursor: wait;
  }
}

.button-primary {
  @include button($primary-color);
}
.button-secondary {
  @include button($secondary-color);
}

/* Forms */

input {
  display: block;
  font-size: 100%;
  padding: 0.5em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.2em;
  box-shadow: inset 0.2em 0.2em 0.2em rgba(220, 220, 220, 0.5);
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.form-element {
  display: block;
  margin-bottom: 1em;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0;
  button {
    font-size: 100%;
  }
}

.form-error {
  padding: 0.2em 0.6em;
  background-color: #ffa3a3;
  border-radius: 0.3em;
}

/* Common structures */

section {
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 1.5em 0;
  padding: 20px;
  h1:first-child, h3:first-child  {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
  }
}

.notice {
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: rgb(255, 253, 231);
  margin: 1.5em 0;
  padding: 20px;
  h2 {
    margin: 0 0 5px;
  }
  p {
    margin-bottom: 5px;
  }
  .close-icon {
    float: right;
  }
}

.close-icon {
  margin: 0 0 5px;
  height: 20px;
  width: 20px;
  background-image: url("/assets/images/icon_close.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 6px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  &:active {
    border-color: black;
  }
}
