@import 'variables';

/* Global styles */

body {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Buttons */

@mixin button($color) {
  border: 0.16em solid $color;
  border-radius: 2em;
  padding: 0.3em 1.2em;
  text-shadow: 0 0.04em 0.04em #000000;
  background-color: $color;
  color: white;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background-color: lighten($color, 15%);
    text-decoration: none;
  }
  &:disabled {
    background-color: #858585;
    border-color: #424242;
    cursor: wait;
  }
}

.button-primary {
  @include button($primary-color);
}
.button-secondary {
  @include button($secondary-color);
}

/* Forms */

input {
  display: block;
  font-size: 100%;
  padding: 0.5em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.2em;
  box-shadow: inset 0.2em 0.2em 0.2em rgba(220, 220, 220, 0.5);
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.form-element {
  display: block;
  margin-bottom: 1em;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0;
  button {
    font-size: 100%;
  }
}

.form-validation-error {
  padding: 0.2em 0.6em;
  background-color: #ffa3a3;
  border-radius: 0.3em;
}
