@import 'variables';

/* Global styles */

body {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    // Cursor to pointer even when href not defined
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Buttons */

button {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}

@mixin button($color, $hollow: true) {
  border: 2px solid $color;
  border-radius: 4px;
  padding: 0.3em 1.2em;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  transition: background-color 0.15s;
  @if $hollow {
    color: black;
  } @else {
    background-color: $color;
    color: white;
  }
  &:hover {
    color: white;
    background-color: lighten($color, 15%);
    text-decoration: none;
  }
  &:disabled {
    background-color: #858585;
    border-color: #424242;
    color: white;
    cursor: wait;
  }
}

// To be used as a call to action
.button-primary {
  @include button($primary-color, false);
}
.button-secondary {
  @include button($secondary-color);
}

/* Forms */

input {
  display: block;
  font-size: 100%;
  padding: 0.5em;
  width: 100%;
  border: 1px solid grey;
  border-radius: 0.2em;
  box-shadow: inset 0.2em 0.2em 0.2em rgba(220, 220, 220, 0.5);
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.form-element {
  display: block;
  margin-bottom: 1em;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0;
  button {
    font-size: 100%;
  }
}

.form-error {
  padding: 0.2em 0.6em;
  background-color: #ffa3a3;
  border-radius: 0.3em;
}

/* Layout shortcuts */

.flex {
  display: flex;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Common structures */

section {
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 1.5em 0;
  padding: 20px;
  > h1:first-child, > h3:first-child  {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
  }
}

.notice {
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: rgb(255, 253, 231);
  margin: 1.5em 0;
  padding: 30px;
  h2, h3 {
    margin: 0 0 5px;
  }
  p {
    margin-bottom: 5px;
  }
  .icon-close {
    float: right;
  }
}

/** Icons */

@mixin icon-commons($svg-url) {
  box-sizing: border-box;
  // Default icon size
  height: 30px;
  width: 30px;
  background-image: url($svg-url);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  transition: all 0.2s;
  border: 1px solid lightgrey;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    cursor: pointer;
    border-color: black;
  }
  &:active {
    background-color: lightgrey;
  }
}

@mixin icon-action-style() {
  padding: 3px;
  border-radius: 5px;
}

.icon-close {
  @include icon-commons("/assets/images/icon_close.svg");
  padding: 6px;
  border-radius: 50%;
}

.icon-edit {
  @include icon-commons("/assets/images/icon_edit.svg");
  @include icon-action-style();
}

.icon-delete {
  @include icon-commons("/assets/images/icon_delete.svg");
  @include icon-action-style();
}

/** Misc */

.spinner {
  display: inline-block;
  animation: spin 0.7s linear infinite;
  &:after {
    content: '';
    height: 30px;
    width: 30px;
    display: block;
    border: 2px solid lightgrey;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
