.footer {
  margin-top: 1em;
  color: grey;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgrey;
}

.content-line {
  margin: 0.8em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  img {
    display: block;
    opacity: 0.3;
    padding-left: 0.4em;
    height: 1.3em;
    &:hover {
      transition: opacity 0.2s;
      opacity: 0.8;
    }
  }
}
