<div class="footer">
  <hr>
  <div class="content-line">
    <div>
      © 2019 Gabriel &#171; <a href="https://twitter.com/stoneLeaf" target="_new">stoneLeaf</a> &#187;
      Bouyssou. Source code is available on <a href="https://github.com/stoneLeaf/timeflies-angular" target="_new">GitHub</a>
      under the <a href="https://github.com/stoneLeaf/timeflies-angular/blob/master/LICENSE" target="_new">MIT</a> license.
    </div>
    <div class="social-icons">
        <a href="https://github.com/stoneLeaf/timeflies-angular" target="_new"><img src="assets/images/social_github.svg"></a>
        <a href="https://twitter.com/stoneLeaf" target="_new"><img src="assets/images/social_twitter.svg"></a>
    </div>
  </div>
</div>
